
<div class="reaktor-card" *ngFor="let ferment of ferments" [class.selected]="ferment === selectedFerment" (click)="onSelect(ferment)" routerLink="/ferment/{{ferment.id}}">
    <div fxFlex="10" fxFlexAlign="stretch">
        {{ferment.id}}
    </div>

    <div fxFlex="">
        <div class="ferment-name" fxLayout="row">{{ferment.name}}</div>
        <div fxLayout="row">{{ferment.stage}}</div>
    </div>

    <div class="overdue, ferment-time">
        <span>{{ferment.time}}</span>
    </div>
</div>

<app-ferment-detail [ferment]="selectedFerment"></app-ferment-detail>