mat-sidenav-container{
    height: 100%;
    background-color:  rgb(200,200,200);
}

mat-toolbar{
    background-color: greenyellow;
}

mat-sidenav{
    background-color: rgb(25,25,25);
    color: greenyellow;
    width:70%;
}

mat-sidenav mat-nav-list a{
    color: greenyellow;
}